src/28HelpmateWebService/28HelpmateWebService/UnitTest/Service References/LotteryWebService/LotteryWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCustomeModule_28BJ">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomeModule_28BJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomeModule_28BJResult" type="tns:ResultRMOfCustomModules" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfCustomModules">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:CustomModules" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomModules">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="M1" type="tns:LotteryByTwentyPeriod" />
          <s:element minOccurs="0" maxOccurs="1" name="M2" type="tns:LotteryByTwentyPeriod" />
          <s:element minOccurs="0" maxOccurs="1" name="M3" type="tns:LotteryByTwentyPeriod" />
          <s:element minOccurs="0" maxOccurs="1" name="M4" type="tns:LotteryByTwentyPeriod" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LotteryByTwentyPeriod">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Lotteries" type="tns:ArrayOfLotteryForBJ" />
          <s:element minOccurs="0" maxOccurs="1" name="NotAppearNumber" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="BigP" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SmallP" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CenterP" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SideP" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OddP" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="EvenP" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLotteryForBJ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LotteryForBJ" nillable="true" type="tns:LotteryForBJ" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LotteryForBJ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PeriodNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SiteSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetOddNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RetMidNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CollectRet" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CollectTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="type" type="tns:LotteryType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LotteryType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RetNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BigOrSmall" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleOrSide" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OddOrDual" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MantissaBigOrSmall" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ThreeRemainder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FourRemainder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FiveRemainder" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="TokenHeader" type="tns:TokenHeader" />
      <s:complexType name="TokenHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SiteSourceSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GameSourceSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RegionSourceSysNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserSysNo" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filterForBj" type="tns:LotteryFilterForBJ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LotteryFilterForBJ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="From" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="To" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GameName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryResult" type="tns:ResultRMOfPageListOfLotteryForBJ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfPageListOfLotteryForBJ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:PageListOfLotteryForBJ" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PageListOfLotteryForBJ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfLotteryForBJ" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SysNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPwd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RegIP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RegDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RechargeUseBeginTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RechargeUseEndTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateCode">
        <s:complexType />
      </s:element>
      <s:element name="GenerateCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryTrend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryTrendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryTrendResult" type="tns:ResultRMOfLotteryTrend" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfLotteryTrend">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:LotteryTrend" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LotteryTrend">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LotteryTimeses" type="tns:ArrayOfLotteryTimes" />
          <s:element minOccurs="0" maxOccurs="1" name="DataList" type="tns:ArrayOfLotteryExtByBJ" />
          <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLotteryTimes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LotteryTimes" nillable="true" type="tns:LotteryTimes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LotteryTimes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLotteryExtByBJ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LotteryExtByBJ" nillable="true" type="tns:LotteryExtByBJ" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LotteryExtByBJ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PeriodNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BigOrSmall" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleOrSide" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OddOrDual" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RetTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryOmission">
        <s:complexType />
      </s:element>
      <s:element name="QueryOmissionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryOmissionResult" type="tns:ResultRMOfListOfOmitStatistics" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfListOfOmitStatistics">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfOmitStatistics" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOmitStatistics">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OmitStatistics" nillable="true" type="tns:OmitStatistics" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OmitStatistics">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GameSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SiteSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OmitCnt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxOmitCnt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StandardCnt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NowPeriodNum" type="s:long" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCustomeModule_28BJSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomeModule_28BJ" />
  </wsdl:message>
  <wsdl:message name="GetCustomeModule_28BJSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomeModule_28BJResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomeModule_28BJTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="QuerySoapIn">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="QuerySoapOut">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="QueryTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateCode" />
  </wsdl:message>
  <wsdl:message name="GenerateCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateCodeResponse" />
  </wsdl:message>
  <wsdl:message name="QueryTrendSoapIn">
    <wsdl:part name="parameters" element="tns:QueryTrend" />
  </wsdl:message>
  <wsdl:message name="QueryTrendSoapOut">
    <wsdl:part name="parameters" element="tns:QueryTrendResponse" />
  </wsdl:message>
  <wsdl:message name="QueryTrendTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="QueryOmissionSoapIn">
    <wsdl:part name="parameters" element="tns:QueryOmission" />
  </wsdl:message>
  <wsdl:message name="QueryOmissionSoapOut">
    <wsdl:part name="parameters" element="tns:QueryOmissionResponse" />
  </wsdl:message>
  <wsdl:message name="QueryOmissionTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:portType name="LotteryWebServiceSoap">
    <wsdl:operation name="GetCustomeModule_28BJ">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询模块1-模块4的数据</wsdl:documentation>
      <wsdl:input message="tns:GetCustomeModule_28BJSoapIn" />
      <wsdl:output message="tns:GetCustomeModule_28BJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询开奖结果</wsdl:documentation>
      <wsdl:input message="tns:QuerySoapIn" />
      <wsdl:output message="tns:QuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">登录,如果返回空字符串则登录失败,成功返回key</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">注册</wsdl:documentation>
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">生成验证码</wsdl:documentation>
      <wsdl:input message="tns:GenerateCodeSoapIn" />
      <wsdl:output message="tns:GenerateCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryTrend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">一般走势图,分页从1开始</wsdl:documentation>
      <wsdl:input message="tns:QueryTrendSoapIn" />
      <wsdl:output message="tns:QueryTrendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryOmission">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">一般走势图,分页从1开始</wsdl:documentation>
      <wsdl:input message="tns:QueryOmissionSoapIn" />
      <wsdl:output message="tns:QueryOmissionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LotteryWebServiceSoap" type="tns:LotteryWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomeModule_28BJ">
      <soap:operation soapAction="http://tempuri.org/GetCustomeModule_28BJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCustomeModule_28BJTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateCode">
      <soap:operation soapAction="http://tempuri.org/GenerateCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryTrend">
      <soap:operation soapAction="http://tempuri.org/QueryTrend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryTrendTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryOmission">
      <soap:operation soapAction="http://tempuri.org/QueryOmission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryOmissionTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LotteryWebServiceSoap12" type="tns:LotteryWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomeModule_28BJ">
      <soap12:operation soapAction="http://tempuri.org/GetCustomeModule_28BJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCustomeModule_28BJTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap12:operation soapAction="http://tempuri.org/Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateCode">
      <soap12:operation soapAction="http://tempuri.org/GenerateCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryTrend">
      <soap12:operation soapAction="http://tempuri.org/QueryTrend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryTrendTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryOmission">
      <soap12:operation soapAction="http://tempuri.org/QueryOmission" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryOmissionTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LotteryWebService">
    <wsdl:port name="LotteryWebServiceSoap" binding="tns:LotteryWebServiceSoap">
      <soap:address location="http://localhost:3655/LotteryWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LotteryWebServiceSoap12" binding="tns:LotteryWebServiceSoap12">
      <soap12:address location="http://localhost:3655/LotteryWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>