src/28HelpmateWebService/28HelpmateWebService/UnitTest/Service References/LotteryWebService/LotteryWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCustomeModule">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomeModuleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomeModuleResult" type="tns:ResultRMOfCustomModules" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfCustomModules">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:CustomModules" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomModules">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="M1" type="tns:LotteryByTwentyPeriod" />
          <s:element minOccurs="0" maxOccurs="1" name="M2" type="tns:LotteryByTwentyPeriod" />
          <s:element minOccurs="0" maxOccurs="1" name="M3" type="tns:LotteryByTwentyPeriod" />
          <s:element minOccurs="0" maxOccurs="1" name="M4" type="tns:LotteryByTwentyPeriod" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentLottery" type="tns:LotteryForBJ" />
          <s:element minOccurs="0" maxOccurs="1" name="NextLottery" type="tns:LotteryForBJ" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LotteryByTwentyPeriod">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Lotteries" type="tns:ArrayOfLotteryForBJ" />
          <s:element minOccurs="0" maxOccurs="1" name="NotAppearNumber" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="BigP" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SmallP" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CenterP" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SideP" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OddP" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="EvenP" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Forecast" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLotteryForBJ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LotteryForBJ" nillable="true" type="tns:LotteryForBJ" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LotteryForBJ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PeriodNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SiteSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetOddNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RetMidNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CollectRet" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CollectTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="type" type="tns:LotteryType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LotteryType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RetNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BigOrSmall" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleOrSide" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OddOrDual" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MantissaBigOrSmall" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ThreeRemainder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FourRemainder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FiveRemainder" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="TokenHeader" type="tns:TokenHeader" />
      <s:complexType name="TokenHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SiteSourceSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GameSourceSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RegionSourceSysNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserSysNo" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filterForBj" type="tns:LotteryFilterForBJ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LotteryFilterForBJ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="From" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="To" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GameName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryResult" type="tns:ResultRMOfPageListOfLotteryForBJ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfPageListOfLotteryForBJ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:PageListOfLotteryForBJ" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PageListOfLotteryForBJ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfLotteryForBJ" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:ResultRMOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfString">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SysNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPwd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RegIP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RegDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RechargeUseBeginTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RechargeUseEndTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityQuestion1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityAnswer1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityQuestion2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityAnswer2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QQ" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="tns:ResultRMOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateCode">
        <s:complexType />
      </s:element>
      <s:element name="GenerateCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryTrend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryTrendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryTrendResult" type="tns:ResultRMOfLotteryTrend" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfLotteryTrend">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:LotteryTrend" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LotteryTrend">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LotteryTimeses" type="tns:ArrayOfLotteryTimes" />
          <s:element minOccurs="0" maxOccurs="1" name="DataList" type="tns:ArrayOfLotteryExtByBJ" />
          <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLotteryTimes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LotteryTimes" nillable="true" type="tns:LotteryTimes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LotteryTimes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLotteryExtByBJ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LotteryExtByBJ" nillable="true" type="tns:LotteryExtByBJ" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LotteryExtByBJ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PeriodNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BigOrSmall" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleOrSide" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OddOrDual" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RetTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryOmission">
        <s:complexType />
      </s:element>
      <s:element name="QueryOmissionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryOmissionResult" type="tns:ResultRMOfListOfOmitStatistics" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfListOfOmitStatistics">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfOmitStatistics" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOmitStatistics">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OmitStatistics" nillable="true" type="tns:OmitStatistics" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OmitStatistics">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GameSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SiteSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OmitCnt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxOmitCnt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StandardCnt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NowPeriodNum" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="QuerySupperTrend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hour" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="minute" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuerySupperTrendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuerySupperTrendResult" type="tns:ResultRMOfLotteryTrend" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerDate">
        <s:complexType />
      </s:element>
      <s:element name="GetServerDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetServerDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePsw">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oldPsw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPsw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="q1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="a1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="q2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="a2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePswResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePswResult" type="tns:ResultRMOfObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryRemindLottery">
        <s:complexType />
      </s:element>
      <s:complexType name="ResultRMOfRemindStatistics">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:RemindStatistics" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RemindStatistics">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GameSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SiteSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cnt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryRemindLotteryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryRemindLotteryResult" type="tns:ResultRMOfRemindStatistics" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType />
      </s:element>
      <s:complexType name="ResultRMOfUser">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:User" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="tns:ResultRMOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNotice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sysNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfNotices">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:Notices" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Notices">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SysNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Contents" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rank" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PublishUser" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetNoticeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNoticeResult" type="tns:ResultRMOfNotices" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentLottery">
        <s:complexType />
      </s:element>
      <s:complexType name="ResultRMOfLotteryForBJ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:LotteryForBJ" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCurrentLotteryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentLotteryResult" type="tns:ResultRMOfLotteryForBJ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Recharge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardPsw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfBoolean">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="RechargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RechargeResult" type="tns:ResultRMOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveRemind">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="remind" type="tns:RemindStatistics" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveRemindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveRemindResult" type="tns:ResultRMOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoForTimer">
        <s:complexType />
      </s:element>
      <s:complexType name="ResultRMOfInfoForTimer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:InfoForTimer" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InfoForTimer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Lottery" type="tns:LotteryForBJ" />
          <s:element minOccurs="0" maxOccurs="1" name="Remind" type="tns:RemindStatistics" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetInfoForTimerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoForTimerResult" type="tns:ResultRMOfInfoForTimer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRemind">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="remindSysNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRemindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DelRemindResult" type="tns:ResultRMOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryRemind">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfPageListOfRemindStatistics">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:PageListOfRemindStatistics" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PageListOfRemindStatistics">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfRemindStatistics" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRemindStatistics">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RemindStatistics" nillable="true" type="tns:RemindStatistics" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryRemindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryRemindResult" type="tns:ResultRMOfPageListOfRemindStatistics" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCustomeModuleSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomeModule" />
  </wsdl:message>
  <wsdl:message name="GetCustomeModuleSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomeModuleResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomeModuleTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="QuerySoapIn">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="QuerySoapOut">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="QueryTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateCode" />
  </wsdl:message>
  <wsdl:message name="GenerateCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateCodeResponse" />
  </wsdl:message>
  <wsdl:message name="QueryTrendSoapIn">
    <wsdl:part name="parameters" element="tns:QueryTrend" />
  </wsdl:message>
  <wsdl:message name="QueryTrendSoapOut">
    <wsdl:part name="parameters" element="tns:QueryTrendResponse" />
  </wsdl:message>
  <wsdl:message name="QueryTrendTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="QueryOmissionSoapIn">
    <wsdl:part name="parameters" element="tns:QueryOmission" />
  </wsdl:message>
  <wsdl:message name="QueryOmissionSoapOut">
    <wsdl:part name="parameters" element="tns:QueryOmissionResponse" />
  </wsdl:message>
  <wsdl:message name="QueryOmissionTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="QuerySupperTrendSoapIn">
    <wsdl:part name="parameters" element="tns:QuerySupperTrend" />
  </wsdl:message>
  <wsdl:message name="QuerySupperTrendSoapOut">
    <wsdl:part name="parameters" element="tns:QuerySupperTrendResponse" />
  </wsdl:message>
  <wsdl:message name="QuerySupperTrendTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="GetServerDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerDate" />
  </wsdl:message>
  <wsdl:message name="GetServerDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerDateResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePswSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePsw" />
  </wsdl:message>
  <wsdl:message name="ChangePswSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePswResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePswTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="QueryRemindLotterySoapIn">
    <wsdl:part name="parameters" element="tns:QueryRemindLottery" />
  </wsdl:message>
  <wsdl:message name="QueryRemindLotterySoapOut">
    <wsdl:part name="parameters" element="tns:QueryRemindLotteryResponse" />
  </wsdl:message>
  <wsdl:message name="QueryRemindLotteryTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="GetNoticeSoapIn">
    <wsdl:part name="parameters" element="tns:GetNotice" />
  </wsdl:message>
  <wsdl:message name="GetNoticeSoapOut">
    <wsdl:part name="parameters" element="tns:GetNoticeResponse" />
  </wsdl:message>
  <wsdl:message name="GetNoticeTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="GetCurrentLotterySoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentLottery" />
  </wsdl:message>
  <wsdl:message name="GetCurrentLotterySoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentLotteryResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentLotteryTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="RechargeSoapIn">
    <wsdl:part name="parameters" element="tns:Recharge" />
  </wsdl:message>
  <wsdl:message name="RechargeSoapOut">
    <wsdl:part name="parameters" element="tns:RechargeResponse" />
  </wsdl:message>
  <wsdl:message name="RechargeTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="SaveRemindSoapIn">
    <wsdl:part name="parameters" element="tns:SaveRemind" />
  </wsdl:message>
  <wsdl:message name="SaveRemindSoapOut">
    <wsdl:part name="parameters" element="tns:SaveRemindResponse" />
  </wsdl:message>
  <wsdl:message name="SaveRemindTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="GetInfoForTimerSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfoForTimer" />
  </wsdl:message>
  <wsdl:message name="GetInfoForTimerSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoForTimerResponse" />
  </wsdl:message>
  <wsdl:message name="GetInfoForTimerTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="DelRemindSoapIn">
    <wsdl:part name="parameters" element="tns:DelRemind" />
  </wsdl:message>
  <wsdl:message name="DelRemindSoapOut">
    <wsdl:part name="parameters" element="tns:DelRemindResponse" />
  </wsdl:message>
  <wsdl:message name="DelRemindTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="QueryRemindSoapIn">
    <wsdl:part name="parameters" element="tns:QueryRemind" />
  </wsdl:message>
  <wsdl:message name="QueryRemindSoapOut">
    <wsdl:part name="parameters" element="tns:QueryRemindResponse" />
  </wsdl:message>
  <wsdl:message name="QueryRemindTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:portType name="LotteryWebServiceSoap">
    <wsdl:operation name="GetCustomeModule">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询模块1-模块4的数据</wsdl:documentation>
      <wsdl:input message="tns:GetCustomeModuleSoapIn" />
      <wsdl:output message="tns:GetCustomeModuleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询开奖结果</wsdl:documentation>
      <wsdl:input message="tns:QuerySoapIn" />
      <wsdl:output message="tns:QuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">登录</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">注册</wsdl:documentation>
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">生成验证码</wsdl:documentation>
      <wsdl:input message="tns:GenerateCodeSoapIn" />
      <wsdl:output message="tns:GenerateCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryTrend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">一般走势图,分页从1开始</wsdl:documentation>
      <wsdl:input message="tns:QueryTrendSoapIn" />
      <wsdl:output message="tns:QueryTrendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryOmission">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">遗漏号码</wsdl:documentation>
      <wsdl:input message="tns:QueryOmissionSoapIn" />
      <wsdl:output message="tns:QueryOmissionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QuerySupperTrend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">超级走势图,分页从1开始</wsdl:documentation>
      <wsdl:input message="tns:QuerySupperTrendSoapIn" />
      <wsdl:output message="tns:QuerySupperTrendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得服务器的时间</wsdl:documentation>
      <wsdl:input message="tns:GetServerDateSoapIn" />
      <wsdl:output message="tns:GetServerDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePsw">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改密码</wsdl:documentation>
      <wsdl:input message="tns:ChangePswSoapIn" />
      <wsdl:output message="tns:ChangePswSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryRemindLottery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">连号提醒</wsdl:documentation>
      <wsdl:input message="tns:QueryRemindLotterySoapIn" />
      <wsdl:output message="tns:QueryRemindLotterySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取用户信息</wsdl:documentation>
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNotice">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得公告</wsdl:documentation>
      <wsdl:input message="tns:GetNoticeSoapIn" />
      <wsdl:output message="tns:GetNoticeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentLottery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得当前开奖结果</wsdl:documentation>
      <wsdl:input message="tns:GetCurrentLotterySoapIn" />
      <wsdl:output message="tns:GetCurrentLotterySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Recharge">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">充值</wsdl:documentation>
      <wsdl:input message="tns:RechargeSoapIn" />
      <wsdl:output message="tns:RechargeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveRemind">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">保存提醒</wsdl:documentation>
      <wsdl:input message="tns:SaveRemindSoapIn" />
      <wsdl:output message="tns:SaveRemindSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoForTimer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提醒+当前期</wsdl:documentation>
      <wsdl:input message="tns:GetInfoForTimerSoapIn" />
      <wsdl:output message="tns:GetInfoForTimerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelRemind">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除提醒</wsdl:documentation>
      <wsdl:input message="tns:DelRemindSoapIn" />
      <wsdl:output message="tns:DelRemindSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryRemind">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询提醒列表</wsdl:documentation>
      <wsdl:input message="tns:QueryRemindSoapIn" />
      <wsdl:output message="tns:QueryRemindSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LotteryWebServiceSoap" type="tns:LotteryWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomeModule">
      <soap:operation soapAction="http://tempuri.org/GetCustomeModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCustomeModuleTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateCode">
      <soap:operation soapAction="http://tempuri.org/GenerateCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryTrend">
      <soap:operation soapAction="http://tempuri.org/QueryTrend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryTrendTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryOmission">
      <soap:operation soapAction="http://tempuri.org/QueryOmission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryOmissionTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySupperTrend">
      <soap:operation soapAction="http://tempuri.org/QuerySupperTrend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QuerySupperTrendTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <soap:operation soapAction="http://tempuri.org/GetServerDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePsw">
      <soap:operation soapAction="http://tempuri.org/ChangePsw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ChangePswTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRemindLottery">
      <soap:operation soapAction="http://tempuri.org/QueryRemindLottery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryRemindLotteryTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUserInfoTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotice">
      <soap:operation soapAction="http://tempuri.org/GetNotice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetNoticeTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentLottery">
      <soap:operation soapAction="http://tempuri.org/GetCurrentLottery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCurrentLotteryTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recharge">
      <soap:operation soapAction="http://tempuri.org/Recharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RechargeTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRemind">
      <soap:operation soapAction="http://tempuri.org/SaveRemind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SaveRemindTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoForTimer">
      <soap:operation soapAction="http://tempuri.org/GetInfoForTimer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetInfoForTimerTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRemind">
      <soap:operation soapAction="http://tempuri.org/DelRemind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DelRemindTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRemind">
      <soap:operation soapAction="http://tempuri.org/QueryRemind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryRemindTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LotteryWebServiceSoap12" type="tns:LotteryWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomeModule">
      <soap12:operation soapAction="http://tempuri.org/GetCustomeModule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCustomeModuleTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap12:operation soapAction="http://tempuri.org/Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateCode">
      <soap12:operation soapAction="http://tempuri.org/GenerateCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryTrend">
      <soap12:operation soapAction="http://tempuri.org/QueryTrend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryTrendTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryOmission">
      <soap12:operation soapAction="http://tempuri.org/QueryOmission" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryOmissionTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySupperTrend">
      <soap12:operation soapAction="http://tempuri.org/QuerySupperTrend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QuerySupperTrendTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <soap12:operation soapAction="http://tempuri.org/GetServerDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePsw">
      <soap12:operation soapAction="http://tempuri.org/ChangePsw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ChangePswTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRemindLottery">
      <soap12:operation soapAction="http://tempuri.org/QueryRemindLottery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryRemindLotteryTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUserInfoTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotice">
      <soap12:operation soapAction="http://tempuri.org/GetNotice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetNoticeTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentLottery">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentLottery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCurrentLotteryTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recharge">
      <soap12:operation soapAction="http://tempuri.org/Recharge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RechargeTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRemind">
      <soap12:operation soapAction="http://tempuri.org/SaveRemind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SaveRemindTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoForTimer">
      <soap12:operation soapAction="http://tempuri.org/GetInfoForTimer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetInfoForTimerTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRemind">
      <soap12:operation soapAction="http://tempuri.org/DelRemind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DelRemindTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRemind">
      <soap12:operation soapAction="http://tempuri.org/QueryRemind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryRemindTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LotteryWebService">
    <wsdl:port name="LotteryWebServiceSoap" binding="tns:LotteryWebServiceSoap">
      <soap:address location="http://localhost:3655/LotteryWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LotteryWebServiceSoap12" binding="tns:LotteryWebServiceSoap12">
      <soap12:address location="http://localhost:3655/LotteryWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>