src/SoftWare/01_Portal/02_BizFocade/Helpmate.Facades/Service References/Helpmate.Service/LotteryWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QueryNextLotteryWithSameNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="siteName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryNextLotteryWithSameNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryNextLotteryWithSameNumberResult" type="tns:ResultRMOfLotteryByTwentyPeriodRM" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfLotteryByTwentyPeriodRM">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:LotteryByTwentyPeriodRM" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LotteryByTwentyPeriodRM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Lotteries" type="tns:ArrayOfLottery" />
          <s:element minOccurs="0" maxOccurs="1" name="NotAppearNumber" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLottery">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Lottery" nillable="true" type="tns:Lottery" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Lottery">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PeriodNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SiteSysNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetOddNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RetMidNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CollectRet" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CollectTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="type" type="tns:LotteryType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LotteryType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RetNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BigOrSmall" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleOrSide" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OddOrDual" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MantissaBigOrSmall" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ThreeRemainder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FourRemainder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FiveRemainder" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="TokenHeader" type="tns:TokenHeader" />
      <s:complexType name="TokenHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="QueryLotteryByHourStep">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="siteName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryLotteryByHourStepResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryLotteryByHourStepResult" type="tns:ResultRMOfLotteryByTwentyPeriodRM" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryLotteryByDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="siteName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryLotteryByDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryLotteryByDayResult" type="tns:ResultRMOfLotteryByTwentyPeriodRM" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryLotteryByTwenty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryLotteryByTwentyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryLotteryByTwentyResult" type="tns:ResultRMOfLotteryByTwentyPeriodRM" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCurrentLottery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCurrentLotteryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryCurrentLotteryResult" type="tns:ResultRMOfLottery" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfLottery">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:Lottery" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="tns:LotteryFilter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LotteryFilter">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="From" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="To" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryResult" type="tns:ResultRMOfPageListOfLottery" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRMOfPageListOfLottery">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:PageListOfLottery" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PageListOfLottery">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfLottery" />
        </s:sequence>
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Register">
        <s:complexType />
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType />
      </s:element>
      <s:element name="RegisterAndLogin">
        <s:complexType />
      </s:element>
      <s:element name="RegisterAndLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterAndLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryNextLotteryWithSameNumberSoapIn">
    <wsdl:part name="parameters" element="tns:QueryNextLotteryWithSameNumber" />
  </wsdl:message>
  <wsdl:message name="QueryNextLotteryWithSameNumberSoapOut">
    <wsdl:part name="parameters" element="tns:QueryNextLotteryWithSameNumberResponse" />
  </wsdl:message>
  <wsdl:message name="QueryNextLotteryWithSameNumberTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="QueryLotteryByHourStepSoapIn">
    <wsdl:part name="parameters" element="tns:QueryLotteryByHourStep" />
  </wsdl:message>
  <wsdl:message name="QueryLotteryByHourStepSoapOut">
    <wsdl:part name="parameters" element="tns:QueryLotteryByHourStepResponse" />
  </wsdl:message>
  <wsdl:message name="QueryLotteryByHourStepTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="QueryLotteryByDaySoapIn">
    <wsdl:part name="parameters" element="tns:QueryLotteryByDay" />
  </wsdl:message>
  <wsdl:message name="QueryLotteryByDaySoapOut">
    <wsdl:part name="parameters" element="tns:QueryLotteryByDayResponse" />
  </wsdl:message>
  <wsdl:message name="QueryLotteryByDayTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="QueryLotteryByTwentySoapIn">
    <wsdl:part name="parameters" element="tns:QueryLotteryByTwenty" />
  </wsdl:message>
  <wsdl:message name="QueryLotteryByTwentySoapOut">
    <wsdl:part name="parameters" element="tns:QueryLotteryByTwentyResponse" />
  </wsdl:message>
  <wsdl:message name="QueryLotteryByTwentyTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="QueryCurrentLotterySoapIn">
    <wsdl:part name="parameters" element="tns:QueryCurrentLottery" />
  </wsdl:message>
  <wsdl:message name="QueryCurrentLotterySoapOut">
    <wsdl:part name="parameters" element="tns:QueryCurrentLotteryResponse" />
  </wsdl:message>
  <wsdl:message name="QueryCurrentLotteryTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="QuerySoapIn">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="QuerySoapOut">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="QueryTokenHeader">
    <wsdl:part name="TokenHeader" element="tns:TokenHeader" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterAndLoginSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterAndLogin" />
  </wsdl:message>
  <wsdl:message name="RegisterAndLoginSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterAndLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="LotteryWebServiceSoap">
    <wsdl:operation name="QueryNextLotteryWithSameNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询最近20期号码相同的下一期的开奖结果</wsdl:documentation>
      <wsdl:input message="tns:QueryNextLotteryWithSameNumberSoapIn" />
      <wsdl:output message="tns:QueryNextLotteryWithSameNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryLotteryByHourStep">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询同一时间点的近20小时的数据</wsdl:documentation>
      <wsdl:input message="tns:QueryLotteryByHourStepSoapIn" />
      <wsdl:output message="tns:QueryLotteryByHourStepSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryLotteryByDay">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询同一时间点的近20天的数据</wsdl:documentation>
      <wsdl:input message="tns:QueryLotteryByDaySoapIn" />
      <wsdl:output message="tns:QueryLotteryByDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryLotteryByTwenty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询最近20期的结果</wsdl:documentation>
      <wsdl:input message="tns:QueryLotteryByTwentySoapIn" />
      <wsdl:output message="tns:QueryLotteryByTwentySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryCurrentLottery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询最近1期的结果</wsdl:documentation>
      <wsdl:input message="tns:QueryCurrentLotterySoapIn" />
      <wsdl:output message="tns:QueryCurrentLotterySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询开奖结果</wsdl:documentation>
      <wsdl:input message="tns:QuerySoapIn" />
      <wsdl:output message="tns:QuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">登录</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">注册</wsdl:documentation>
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterAndLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">注册并登录,注册成功后返回一个token</wsdl:documentation>
      <wsdl:input message="tns:RegisterAndLoginSoapIn" />
      <wsdl:output message="tns:RegisterAndLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LotteryWebServiceSoap" type="tns:LotteryWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryNextLotteryWithSameNumber">
      <soap:operation soapAction="http://tempuri.org/QueryNextLotteryWithSameNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryNextLotteryWithSameNumberTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryLotteryByHourStep">
      <soap:operation soapAction="http://tempuri.org/QueryLotteryByHourStep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryLotteryByHourStepTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryLotteryByDay">
      <soap:operation soapAction="http://tempuri.org/QueryLotteryByDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryLotteryByDayTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryLotteryByTwenty">
      <soap:operation soapAction="http://tempuri.org/QueryLotteryByTwenty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryLotteryByTwentyTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCurrentLottery">
      <soap:operation soapAction="http://tempuri.org/QueryCurrentLottery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryCurrentLotteryTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterAndLogin">
      <soap:operation soapAction="http://tempuri.org/RegisterAndLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LotteryWebServiceSoap12" type="tns:LotteryWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryNextLotteryWithSameNumber">
      <soap12:operation soapAction="http://tempuri.org/QueryNextLotteryWithSameNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryNextLotteryWithSameNumberTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryLotteryByHourStep">
      <soap12:operation soapAction="http://tempuri.org/QueryLotteryByHourStep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryLotteryByHourStepTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryLotteryByDay">
      <soap12:operation soapAction="http://tempuri.org/QueryLotteryByDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryLotteryByDayTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryLotteryByTwenty">
      <soap12:operation soapAction="http://tempuri.org/QueryLotteryByTwenty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryLotteryByTwentyTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCurrentLottery">
      <soap12:operation soapAction="http://tempuri.org/QueryCurrentLottery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryCurrentLotteryTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap12:operation soapAction="http://tempuri.org/Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryTokenHeader" part="TokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterAndLogin">
      <soap12:operation soapAction="http://tempuri.org/RegisterAndLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LotteryWebService">
    <wsdl:port name="LotteryWebServiceSoap" binding="tns:LotteryWebServiceSoap">
      <soap:address location="http://117.25.155.107:8088/LotteryWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LotteryWebServiceSoap12" binding="tns:LotteryWebServiceSoap12">
      <soap12:address location="http://117.25.155.107:8088/LotteryWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>